[Unit]
Description=upload app
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi_python3 --ini /data/upload-app/upload-app.ini
ExecReload=/bin/kill -HUP $MAINPID
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGTERM
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
